@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display:wght@400;500&display=swap');
:root {
	--nav-bg: rgba(0, 0, 0, 0.6);
	--neutral-shadow: rgb(23, 23, 23);
	--dark-200: rgb(69, 69, 69);
	--dark-400: rgb(45, 45, 45);
	--dark-800: rgb(29, 29, 29);

	--areia-green: rgb(23, 99, 82);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: purple;
}

p {
	font-weight: 400;
	font-size: 18px;
}

footer {
	border: none;
	background-color: var(--dark-800);
	padding-inline: 20vw;
	padding-block: 5vh;
	color: white;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

.container {
	width: 80%;
	max-width: 2880px;
	margin: 0 auto;
	padding: 0 15px;
}

.main-wrapper {
	display: grid;
	width: 100%;
	grid-template-rows: repeat(3, auto);
	background-color: var(--dark-800);
}

.article-wrapper {
	justify-content: center;
	width: 100vw;
	height: 100%;
	padding: 10vh 15vw 15vh 15vw;
	background-color: var(--dark-400);
	color: #fff;
	border: none;
	position: relative;
}

.article-wrapper:nth-child(odd) {
	background-color: var(--dark-800);
}

.article-wrapper h2 {
	font-size: 2.2rem;
	font-weight: 400;
	filter: drop-shadow(3px 3px 3px var(--neutral-shadow));
}

.article-wrapper h3 {
	font-size: 1.75rem;
	font-weight: 300;
	margin-top: 5vh;
	margin-bottom: 2vh;
	filter: drop-shadow(3px 3px 3px var(--neutral-shadow));
}

.article-wrapper p {
	max-width: 80ch;
	font-weight: 200;
	font-size: 18px;
}

.article-wrapper ul {
	padding-block: 3vh;
	padding-inline: 0;
}

#products p {
	margin-top: 1vh;
}

#products a img {
	filter: drop-shadow(5px 5px 5px var(--neutral-shadow));
}

.product-img {
	max-width: 70vw;
	height: auto;
	border-radius: 10px;
}

.body-text {
	margin-top: 3vh;
}

.header-area {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
		url(/assets/jpegs/areia-hero.jpg);
	background-position: center center;
	background-size: cover;
}

.navbar-area {
	background: var(--nav-bg);
	border: none;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}

a.site-logo {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

.site-navbar ul {
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.site-navbar ul li a {
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
}

.site-navbar ul li a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.nav-toggler {
	border: none;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 39px;
	display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: block;
	transition: 0.3s;
}

.nav-toggler span:before {
	content: '';
	transform: translateY(-9px);
}

.nav-toggler span:after {
	content: '';
	transform: translateY(6px);
}

.nav-toggler.toggler-open span {
	background-color: transparent;
}

.nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
}

.intro-area {
	height: calc(100vh - 61px);
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
}

.intro-area h1 {
	font-size: 4rem;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 25px;
}

.intro-area p {
	color: rgba(252, 252, 252, 0.649);
}

.socials li a {
	color: var(--dark-200);
}

.socials li a:hover,
.socials li a:focus {
	color: var(--areia-green);
}

@media screen and (max-width: 920px) {
	.container {
		max-width: 720px;
	}

	.nav-toggler {
		display: block;
	}

	.site-navbar {
		min-height: 60px;
	}

	.site-navbar ul {
		font-size: 1.75rem;
		position: absolute;
		width: 100%;
		height: calc(100vh - 60px);
		left: 0;
		top: 60px;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #444;
		background-color: rgba(0, 0, 0, 0.75);
		max-height: 0;
		overflow: hidden;
		transition: 0.3s;
		border: none;
	}

	.site-navbar ul li {
		width: 100%;
		text-align: center;
	}

	.site-navbar ul li a {
		padding: 25px;
	}

	.site-navbar ul li a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.site-navbar ul.open {
		max-height: 100vh;
		overflow: visible;
	}
}
